/* Configuração geral */
html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f7f6;
    color: #292621;
    line-height: 1.6;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    position: relative;
    top: 9px;
    width: 95%;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logo {
    width: 120px;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #212529;
    font-weight: 400;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: rgba(0, 123, 255, 0.7);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .hero {
        height: auto;
        width: 90%;
        padding: 20px;
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .section {
        padding: 40px 15px;
        max-width: 90%;
    }

    .section-title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    .logo {
        width: 100px;
    }

    nav a {
        font-size: 0.9em;
    }

    .hero h2 {
        font-size: 1.8em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero button {
        font-size: 0.9em;
        padding: 8px 20px;
    }

    .section {
        padding: 30px 10px;
    }
}